[submodule "gpAux/extensions/pgbouncer/source"]
	path = gpAux/extensions/pgbouncer/source
	url = https://github.com/greenplum-db/pgbouncer.git
[submodule "gpcontrib/gpcloud/test/googletest"]
	path = gpcontrib/gpcloud/test/googletest
	url = https://github.com/google/googletest.git
