/gpdb5
/gpdb5-data
/gpdb5-data-copy
/gpdb5-source
/gpdb6
/gpdb6-data
/gpdb6-data-copy
/scripts/gpdb6-cluster
/scripts/gpdb5-cluster
/*.log
/*.dSYM
/*.custom
/*.sql
/*.txt
/*.sh
/results
/scripts/reset-cluster
/scripts/gpdb5-cluster
/scripts/gpdb6-cluster
/scripts/pg-upgrade-copy-from-master
/*.pm
/gpdiff.pl
/gpstringsubs.pl
/pg_upgrade_regress
/scripts/upgrade-cluster
/sql_isolation_testcase.py
/*.t
