/gpdb5
/gpdb5-data
/gpdb5-data-copy
/gpdb5-source
/gpdb6
/gpdb6-data
/gpdb6-data-copy
/scripts/gpdb6-cluster
/scripts/gpdb5-cluster
/*.log
/*.dSYM
/*.custom
/*.sql
/*.txt
/*.sh
/results
/scripts/reset-cluster
/scripts/gpdb5-cluster
/scripts/gpdb6-cluster
/scripts/pg-upgrade-copy-from-master
/*.pm
/gpdiff.pl
/gpstringsubs.pl
/pg_upgrade_regress
/scripts/upgrade-cluster
/sql_isolation_testcase.py

/data
# regress files
/expected/different_name_index_backed_constraint.out
/expected/exchange_partition_heap_table.out
/expected/external_table.out
/expected/partitioned_heap_table_with_differently_aligned_dropped_columns.out
/expected/partitioned_heap_table_with_differently_aligned_varlen_dropped_columns.out
/expected/partitioned_heap_table_with_differently_sized_dropped_columns.out
/expected/unsupported_dist_coltypes.out
/expected/gphdfs.out
/expected/mismatched_aopartition_indexes.out
/expected/unsupported_name_col.out
/expected/unsupported_tsquery_col.out
/expected/upgraded_ao_table_without_base_relfilenode.out
/sql/different_name_index_backed_constraint.sql
/sql/exchange_partition_heap_table.sql
/sql/external_table.sql
/sql/partitioned_heap_table_with_differently_aligned_dropped_columns.sql
/sql/partitioned_heap_table_with_differently_aligned_varlen_dropped_columns.sql
/sql/partitioned_heap_table_with_differently_sized_dropped_columns.sql
/sql/unsupported_dist_coltypes.sql
/sql/gphdfs.sql
/sql/mismatched_aopartition_indexes.sql
/sql/unsupported_name_col.sql
/sql/unsupported_tsquery_col.sql
/sql/upgraded_ao_table_without_base_relfilenode.sql

# cmockery tests
/*.t
